body {
    background-image: url(../Images/fondocopy.gif);
    margin:0;
    font-family: 'Press Start 2P', cursive;
    background-repeat: no-repeat;
    background-size: 100% ;  
    cursor: url("cursor.png"), default;
}


img{
    margin-left: 26%;
    margin-top: 15%;
    height: 76%;
    width: 48%;
    position: fixed;
}
/* Change the link color to #111 (black) on hover */
