html {
  min-width: 100%;
  min-height: 100%;
 background-image: url("../images/fondomovil.jpg");
  background-size: cover;
}

body
{
    margin:0;
    padding:8px;
    font-family: 'Raleway', sans-serif;
    width: 97%;
    height: 770px;
  
}
.container{
    padding-top: 80px;
    background-image: url("../images/fondocontainer.jpg");
    background-size: cover;
    width: 90%;
    margin: auto;
    height: 493px;
    position: relative;
    overflow: auto;
}
.navbar{
    height: 40px;
    color: white;
    display:flex;
    justify-content:center;
    align-items: center;  
}

.navbar li{
    display: inline-block;
    padding: 15px;
    text-transform:uppercase;
}
.navbar li:hover{
    text-decoration: underline;
}
.trimestre{
    display: flex;
    width: 90%;
    height: 40px;
    justify-content:center;
    background-color:#660000;
    color: white;
    align-items: center;


    
    
}
.trimestre li{
    display: inline-block;
    width: 30%;
    text-align: center;
    
    
    
}

.trimestre li:first-child{
    border-right: solid; 
}

.trimestre li:last-child{
    border-left: solid; 
}
.trimestre li:hover{
    background-color: darkgrey;
}
.inicio img{
    border-radius: 130px;
    width:40%;
    position: relative;
    left: 30%;
    bottom: 20px;
}
.nombre{
    text-align: center;
    
}
.bio {
    text-align: left;
    text-indent: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

a{
    text-decoration: none;
    color: white;
}

footer{
    height: 90px;
    padding-top: 20px;
    color: white;
    text-align: center;
  
}
footer p{
    text-align: center;
}
footer img{
    height:30px;
    width: 300px;
}


/@media screen and (min-width: 800px) { 


} 



