*{
	box-sizing:border-box;
	padding:0;
    align-content: center;
}
.capaprin{
	width: 700px;
	height: 700px;
}

#capa1{
	background-color:red;
}

#capa2{
	background-color:blue;
}

#capa3{
	background-color:green;
}

#capa4{
	border: 2px red solid;
	margin-top:10px;
}

a{
	font-size: 50px;
	background-color: navy;
	color:white;
	margin-top: 10px;
	margin-left: 30px;
	width: 1500px;
}