*{
	box-sizing:border-box;
	padding:0;
}

img {
	border: 5px solid black;
	width: 500px;
	
}

.lorem{
	font-size: 25px;
	border: 2px solid orange;
	text-align: justify;
}

.capaprin{
	width: 300px;
	height: 300px;
}

#capa1{
	background-color:red;
}

#capa2{
	background-color:blue;
}

#capa3{
	background-color:green;
}